:root {
    --fg: #070707;
    --bg: #F7F1E6;
    --bg-sec: #3a302d;
    --accent: #C52233;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    background-color: var(--bg);
    color: var(--fg);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#landing-img {
    background-image: url("/assets/hu-landing.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    z-index: -1;
    box-shadow: 0px -20px 10px -10px #F7F1E6 inset;
}

#frontpage-text-container {
    position: absolute;
    top: 23vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 30%;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#frontpage-text-container>h2 {
    font-size: 10vw;
}

#frontpage-text-container>h2:nth-child(1) {
    animation: 0.9s ease-in-out 0s 1 slideInFromLeft;
}

#frontpage-text-container>h2:nth-child(2) {
    animation: 0.9s ease-in-out 0s 1 slideInFromRight;
}

#about-container {
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    gap: 2vw;
}

#about-container>img {
    max-width: 700px;
    width: 40vw;
    padding-left: 5vw;
}

#about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wfp-text {
    font-size: 9vw;
}

.wfp-text:nth-child(1) {
    margin-left: -4vw;
}

.wfp-text:nth-child(3) {
    margin-left: 4vw;
}

.wfp-text.trigger-animation {
    animation: 0.9s ease-in-out 0s 1 slideInFromRight;
}

#gallery-container {
    width: 100%;
    height: 40vh;
    background-color: #051c22;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    display: grid;
    grid-template-areas:
        "one one two two"
        "three two two four"
        "three five six four"
        "seven seven seven eight"
        "seven seven seven eight";
    gap: 10px;
}

#gallery-container>img {
    width: 200px;
}

#gallery-container>img:nth-child(1) {
    grid-area: "one"
}

#gallery-container>img:nth-child(2) {
    grid-area: "two"
}

#gallery-container>img:nth-child(3) {
    grid-area: "three"
}

#gallery-container>img:nth-child(4) {
    grid-area: "four"
}

#gallery-container>img:nth-child(5) {
    grid-area: "five"
}

#gallery-container>img:nth-child(6) {
    grid-area: "six"
}

#gallery-container>img:nth-child(7) {
    grid-area: "seven"
}

#gallery-container>img:nth-child(8) {
    grid-area: "eight"
}
